extends layout

block content
    .main
        .title
            h1 Welcome, #{user.username}!
            p Remember to recycle!!
        .chart
            .bargraph(style='width: 511px;')
                ul.bars
                    li.bar1.purplebar(style='height: #{gradeFormat[0]}px;') #{user.grade[0]}
                    li.bar2.redbar(style='height: #{gradeFormat[1]}px;') #{user.grade[1]}
                    li.bar3.bluebar(style='height: #{gradeFormat[2]}px;') #{user.grade[2]}
                    li.bar4.greenbar(style='height: #{gradeFormat[3]}px;') #{user.grade[3]}
                    li.bar5.orangebar(style='height: #{gradeFormat[4]}px;') #{user.grade[4]}
                    li.bar6.grapebar(style='height: #{gradeFormat[5]}px;') #{user.grade[5]}
                    li.bar7.navybar(style='height: #{gradeFormat[6]}px;') #{user.grade[6]}


                ul.label
                    li _Sunday _ Monday _ Tuesday _ Wednesday _ Thursday _ Friday _ Saturday
                ul.y-axis
                    li 20
                    li 15
                    li 10
                    li 5
                    li 0
                p.centered Your Score

        .button-four
            input(type='submit',class='btn', value='Enter Recycling', onclick="window.location='/directory';")
            input(type='submit',class='btn', value='My Account', onclick="window.location='/account';")
            input(type='submit',class='btn', value='Leaderboards', onclick="window.location='/leaderboard';")
            input(type='submit',class='btn', value='Logout', onclick="window.location='/logout';")

            .bottom
                p
                    | Fact of the Week:
                    | Enough plastic bottles are put in landfill each year to circle Earth four times!

